<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Fabrizio Guglielmino">

    <title>ModBus Gateway Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/main.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">



    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/scripts/jquery.validationEngine-it.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/scripts/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="static/validationEngine.jquery.css" type="text/css" />


</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-blue border-right" id="sidebar-wrapper">
            <div class="txt-blue bg-white sidebar-heading text-center">
                <img src="static/images/ati-gateway.jpg" alt="title" class="logo" style="height: 50px" />
            </div>
            <div style="text-align: left; padding-right: 5%;">
                {{ sysdate }}
            </div>
            <div class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action bg-blue"><i class="fas fa-tachometer-alt"></i>
                    Dashboard</a>
                <a href="/commands" class="list-group-item list-group-item-action bg-blue"><i
                        class="fas fa-toggle-on"></i> Commands</a>

                <a href="/logs" class="list-group-item list-group-item-action bg-blue"><i class="fas fa-history"></i>
                    Logs</a>



                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle list-group-item list-group-item-action bg-blue"><i class="fas fa-cog"></i>
                    Config</a>
                <ul class="collapse" id="pageSubmenu">
                    <li>
                        <a href="/general" class="list-group-item list-group-item-action bg-blue">General</a>
                    </li>
                    <li>
                        <a href="/mqtt" class="list-group-item list-group-item-action bg-blue">MQTT</a>
                    </li>
                    <li>
                        <a href="/serial" class="list-group-item list-group-item-action bg-blue">Serial (ModBus)</a>
                    </li>
                    <li>
                        <a href="/table" class="list-group-item list-group-item-action bg-blue"><i
                                class="fas fa-table"></i>
                            Registers Table</a>
                    </li>

                </ul>
                {% if user is not none %}


                <a href="/logout" class="list-group-item list-group-item-action bg-blue"><i
                        class="fas fa-sign-out-alt"></i>Logout ({{ user }})</a>


                {% endif %}

                <a href="/doc" class="list-group-item list-group-item-action bg-blue"><i
                        class="far fa-question-circle"></i>Help </a>

                    

            </div>
            <div class="align-baseline version">   version {{ version }}</div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-default" id="menu-toggle"><i class="navbar-toggler-icon"></i></button>
                <div class="col-8 text-center text-uppercase title text-primary font-weight-bold" >{{gateway_name}} - {{gateway_id}}</div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <img src="static/images/logo-blu.png" alt="logo" class="logo" style="height: 61px" />
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
            <!-- /#page-content-wrapper -->
        </div>

        <!--App JavaScript -->
        <script src="static/scripts/app.js"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

</body>

</html>