{% macro breadcrumb(names) %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for name in names %}
        <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
        {% endfor %}
    </ol>
</nav>
{% endmacro %}