{%- extends "base_bootstrap.html" %}

{% from "breadcrumb.html" import breadcrumb with context %}

{% block content %}

{{ breadcrumb(['Commands']) }}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm px-4 py-4">
            <button id="gwlog" type="button" class="btn btn-primary">Clear
                gateway
                log</button>
            <button id="mqttlog" type="button" class="btn btn btn-secondary">Clear
                MQTT
                log</button>

            <button id="mbuslog" type="button" class="btn btn-success">Clear
                ModBus
                log</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm px-4 py-4">

            <button id="gatewayReboot" type="button" class="btn btn-primary">Gateway
                reboot</button>


            <button id="mqttReboot" type="button" class="btn btn btn-secondary">Mqtt
                reboot</button>

            <button id="modbusReboot" type="button" class="btn btn-success">ModBus
                reboot</button>

        </div>

    </div>

</div>

<div id="opresult" class="alert alert-warning alert-dismissible fade" role="alert">
    <strong>Operazione eseguita
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</div>

<!-- Modal -->
<div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aaria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <img src="static/images/spinning-wheel.gif" alt="spinning" style="height: 40px"> Rebooting ...
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {

        ['gwlog', 'mqttlog', 'mbuslog'].forEach(function (value) {
            $('#' + value).click(function () {
                $.ajax({
                    url: "{{ url_for('frontend.logs') }}",
                    type: 'GET',
                    data: { op: 'delete', subject: value },
                    success: function (result) {
                        $('#opresult').addClass('show');
                    }
                });
            });
        });

        const delay = 550;
        [
            { id: '#gatewayReboot', code: 'gateway' },
            { id: '#mqttReboot', code: 'mqtt' },
            { id: '#modbusReboot', code: 'modbus' },
        ].forEach((item) => {
            $(item.id).click(function () {
                $('#waitModal').modal({ show: true });
                $.ajax({
                    url: "{{ url_for('frontend.reboot') }}",
                    type: 'POST',
                    data: { subject: item.code },
                    success: function (result) {
                        setTimeout(function () { document.location.href = "/"; }, delay);
                    },
                    error: function () {
                        setTimeout(function () { document.location.href = "/"; }, delay);
                    }
                });

            });
        });


    });
</script>


{%- endblock %}