{%- extends "base_bootstrap.html" %}
{% block content %}
<h1 id="modbus-to-mqtt-gateway">Modbus to MQTT Gateway</h1>
<h2 id="provisioning-raspberry-pi">Provisioning Raspberry Pi</h2>
<p>Below all the information to provision a Raspberry Pi starting from installing the operating system to the
  application.</p>
<h3 id="installing-the-os">Installing the OS</h3>
<ul>
  <li>Download Rasbian image &quot;Raspbian Stretch Lite&quot; from <a
      href="https://www.raspberrypi.org/downloads/raspbian/">here</a></li>
  <li>Install the image following the <a
      href="https://www.raspberrypi.org/documentation/installation/installing-images/README.md">instruction</a></li>
  <li>After installing Raspbian boot the device and apply following steps:<ul>
      <li>sudo raspi-config</li>
      <li>goto &#39;5 Interfacing Options&#39;</li>
      <li>goto &#39;P6 Serial&#39;</li>
      <li>&#39;Would you like a login shell to be accessible over serial?&#39; --&gt; NO</li>
      <li>&#39;Would you like the serial port hardware to be enabled?&#39; --&gt; YES</li>
      <li>Finish raspi-config</li>
    </ul>
  </li>
  <li>reboot the Raspberry Pi</li>
</ul>
<h3 id="method-a-provisioning-with-docker">Method A - provisioning with Docker</h3>
<ul>
  <li>Install Docker with <code>curl -fsSL get.docker.com -o get-docker.sh &amp;&amp; sh get-docker.sh</code> (run as
    root)</li>
  <li>Add user for docker <code>sudo groupadd docker</code></li>
  <li>Add user to docker group <code>sudo gpasswd -a $USER docker</code></li>
  <li>...</li>
</ul>
<h3 id="method-b-provisioning-on-the-bare-system">Method B - provisioning on the &quot;bare system&quot;</h3>
<ul>
  <li>Install Python 3.6</li>
  <li>Run <code>sudo apt-get update</code></li>
  <li>Run
    <code>sudo apt-get install build-essential tk-dev libncurses5-dev libncursesw5-dev libreadline6-dev libdb5.3-dev libgdbm-dev libsqlite3-dev libssl-dev libbz2-dev libexpat1-dev liblzma-dev zlib1g-dev</code>
  </li>
  <li>Donwload Python sources with <code>wget https://www.python.org/ftp/python/3.6.6/Python-3.6.6.tar.xz</code></li>
  <li>Extract sources <code>tar xf Python-3.6.6.tar.xz</code></li>
  <li><code>cd Python-3.6.6</code></li>
  <li><code>./configure</code></li>
  <li><code>make</code></li>
  <li><code>sudo make altinstall</code></li>
</ul>
<p>Having the system configured the application can be installed as described in &quot;Installation&quot; paragraph.</p>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h2 id="sources">Sources</h2>
<h3 id="naming-convention-used">Naming convention used</h3>
<p><a
    href="https://visualgit.readthedocs.io/en/latest/pages/naming_convention.html">https://visualgit.readthedocs.io/en/latest/pages/naming_convention.html</a>
</p>
<h3 id="requirements">Requirements</h3>
<p>To run the project you need Python version 3.6 or above, application was developed and tested using Python 3.6.6.</p>
<h2 id="installation">Installation</h2>
<p>Application is installed starting from sources. Sources can be obtained in many ways, thre simplest one is to get
  them as a compressed zip file and put them in <code>/opt/modbus-mqtt-gateway/</code>.<br>The official source where to
  get zip file is from <a
    href="https://github.com/guglielmino/modbus-mqtt-gateway/archive/v{VERSION}.zip">https://github.com/guglielmino/modbus-mqtt-gateway/archive/v{VERSION}.zip</a>,
  where VERSION must be replaced with the required version number in semver format (ie. 0.0.3, <a
    href="https://github.com/guglielmino/modbus-mqtt-gateway/archive/v0.0.3.zip)">https://github.com/guglielmino/modbus-mqtt-gateway/archive/v0.0.3.zip)</a>.
</p>
<p>To install project dependencies change the working directory in the one where sources are stored (tipically
  <code>/opt/modbus-mqtt-gateway/</code>), thens run <code>pip3.6 install -r requirements.txt</code></p>
<p>Application default build create a Docker image pushed <a
    href="https://cloud.docker.com/u/guglielmino/repository/docker/guglielmino/modbus-mqtt-gw">here</a>, you can install
  it without installing Python or any other dependencies in case of docker deploy.</p>
<h3 id="running-tests">Running tests</h3>
<p>Application is developed with TDD approach, then all main features are covered by unit tests.<br>Before running the
  application is a best practice to execute unit tests, to do this run <code>make test</code> from the root folder.</p>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h2 id="running-the-application">Running the application</h2>
<p>Application configurations are deployed in <code>data/</code> folder in the project root directory. Default files
  are:</p>
<ul>
  <li><code>general.ini</code> : General configurations</li>
</ul>
<p>Sample content</p>
<pre><code>[GENERAL]
id = 12334
name = test
admin_user = admin
admin_password = adminpwd
sys_user = root
sys_password = rootpwd
</code></pre>
<ul>
  <li><code>serial.ini</code> : Serial and Modbus configurations</li>
</ul>
<p>Sample content</p>
<pre><code>[SERIAL MODBUS]
port = /dev/serial0
speed = 19200
parity = N
stopbit = 1
bitlen = 8
master_id = 123
polling_time = 12
connect_timeout = 20
retry_count = 3
</code></pre>
<ul>
  <li><code>cellular.ini</code> : Cellular module settings</li>
</ul>
<p>Sample content</p>
<pre><code>[4G]
sim_pin = 0000
reboot_timer = 10
protocol = 3G
apn = apn.tim.it
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<ul>
  <li><code>mqtt.ini</code> : MQTT connection settings</li>
</ul>
<p>Sample content</p>
<pre><code>[MQTT]
broker_pri = 212.237.3.187
broker_sec = mqtt2.nowhere.org
qos = 0
user_auth = S
cert_auth = N
username = user1
password = pass1
cert_file = /path/cert1
key_file = /pat/key1
</code></pre>
<ul>
  <li><code>regs-topics.csv</code> : main table for mapping register to topics</li>
</ul>
<p>Sample content</p>
<pre><code>topic;descr;cscaling_coeff;offset;ui;registry_range;slave_id;access;send_on_variation;variation;variation_type;recurring_send;recurring_span;add_ui;add_descr;opt1;opt2;opt3
sample1/{slave_id}/{reg_address};descr1;1;0;V;40001-40003;1;R;S;10;%;S;3;S;S;opt1_1;opt2_1;opt3_1
sample2/{slave_id}/{reg_address};descr1;1;0;V;40005;1;R;S;10;%;S;8;S;S;opt1_1;opt2_1;opt3_1
samplesub;sample conf for subscription;1;0;V;40002;1;R/W;S;10;%;S;8;S;S;opt1_1;opt2_1;opt3_1
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h2 id="application-service-auto-start-at-boot-time-">Application service (auto start at boot time)</h2>
<p>ModBus gateway is setup to start automatically at boot time using <code>systemd</code>, to configure autostart in
  Raspian distribution installed from scratch is necessary to create a
  <code>/lib/systemd/system/modbusgateway.service</code> file with the following content.</p>
<pre><code>[Unit]
Description=ModBus to MQTT Gateway
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/python3.6 /opt/modbus-mqtt-gateway/src/main.py
Restart=always

[Install]
WantedBy=multi-user.target
</code></pre>
<p><strong>Note</strong>: you must set <code>python</code> name and path accorting to the system installation. The same
  applies to the <code>main.py</code> script.<br> The same apply to <code>pip</code> when dependencies are installed,
  ie. if <code>python3.6</code> is the one installed dependecies must be<br> installed using <code>pip3.6 ....</code>
</p>
<p>To complete the service installation execute the following instructions.</p>
<pre><code># chmod 664 /lib/systemd/system/modbusgateway.service
# systemctl daemon-reload
# systemctl enable modbusgateway.service

</code></pre>
<h3 id="controlling-the-service">Controlling the service</h3>
<p>Even if the application is automatically started at boot time it&#39;s possibile to control it&#39;s lifecycle with
  standard <code>systemd</code> command, specifically.</p>
<ul>
  <li>check application status <code>systemctl status modbusgateway.service</code></li>
  <li>stop the application <code>systemctl stop modbusgateway.service</code></li>
  <li>start the application <code>systemctl start modbusgateway.service</code></li>
</ul>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>

<h2 id="mqtt-commands">MQTT Commands</h2>
<p>Below MQTT request and response payloads for defined commands expected on <code>{gatewayId}/System/GatewayCmd</code>
  and <code>{gatewayId}/System/GatewayInfo</code> topics respectively:</p>
<h3 id="gtwinfo">GtwInfo</h3>
<p>Get info about the gateway application</p>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;gtwinfo&quot;,
  &quot;payload&quot;: {}
}

RESPONSE:
{
  &quot;type&quot;: &quot;gtw&quot;,
  &quot;payload&quot;: {
    &quot;version&quot;: &quot;1.0.2&quot;
  }
}
</code></pre>
<h3 id="gtw">Gtw</h3>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;gtw&quot;,
  &quot;payload&quot;: {}
}

RESPONSE:
{
  &quot;type&quot;: &quot;gtw&quot;,
  &quot;payload&quot;: {
    &quot;csv&quot;: &quot;topic;descr;cscaling_coeff;offset;ui;registry_range;slave_id;access;send_on_variation;variation;variation_type;recurring_send;recurring_span;add_ui;add_descr;opt1;opt2;opt3\\r\\ntest\/topic;test descr;0;0;A;40000;1;R;S;5;%;S;1;S;S;o1;o2;o3\\r\\nprova\/topic;decription;1;10;V;41000;123;W;S;12;%;N;0;S;S;o1-1;o2-1;o3-1\\r\\n&quot;
  }
}
</code></pre>
<h3 id="gtwid">GtwId</h3>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;gtwid&quot;,
  &quot;payload&quot;: {}
}

RESPONSE
{
  &quot;type&quot;: &quot;gtwid&quot;,
  &quot;payload&quot;: {
    &quot;id&quot;: &quot;1234&quot;
  }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h3 id="gtwidwrite">GtwIdWrite</h3>
<p>Write one gateway id property in general setting</p>
<pre><code>REQUEST:
{
   &quot;type&quot;:&quot;gtwidwrite&quot;,
   &quot;payload&quot;:{
      &quot;settings&quot;:[
         { &quot;gtwid&quot;:&quot;mygtwid&quot; }
      ]
   }
}

RESPONSE
{
  &quot;type&quot;: &quot;gtwidwrite&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<h3 id="gtwreboot">GtwReboot</h3>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;gtwreboot&quot;,
  &quot;payload&quot;: {}
}

RESPONSE
{
  &quot;type&quot;: &quot;gtwreboot&quot;,
  &quot;payload&quot;: {}
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h3 id="gtwwrite">GtwWrite</h3>
<pre><code>
REQUEST:
{
  &quot;type&quot;: &quot;gtwwrite&quot;,
  &quot;payload&quot;: {
    &quot;csv&quot;: &quot;topic;descr;cscaling_coeff;offset;ui;registry_range;slave_id;access;send_on_variation;variation;variation_type;recurring_send;recurring_span;add_ui;add_descr;opt1;opt2;opt3\\r\\ntest\/topic;test descr;0;0;A;40000;1;R;S;5;%;S;1;S;S;o1;o2;o3\\r\\nprova\/topic;decription;1;10;V;41000;123;W;S;12;%;N;0;S;S;o1-1;o2-1;o3-1\\r\\n&quot;
  }
}

RESPONSE
{
  &quot;type&quot;: &quot;gtwwrite&quot;,
  &quot;payload&quot;: {}
}

</code></pre>
<h3 id="gtwlog">GtwLog</h3>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;gtwlog&quot;,
  &quot;payload&quot;: {}
}

RESPONSE
{
  &quot;type&quot;: &quot;gtwlog&quot;,
  &quot;payload&quot;: { &quot;log&quot;: &quot;LOG DATA&quot; }
}
</code></pre>
<h3 id="gwtlogerase">GwtLogErase</h3>
<p>Delete Gateway activity log</p>
<pre><code>
REQUEST:
{
   &quot;type&quot;:&quot;gtwlogerase&quot;,
   &quot;payload&quot;:{ }
}

RESPONSE
{
  &quot;type&quot;: &quot;gtwlogerase&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h3 id="mqtt">Mqtt</h3>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;mqtt&quot;,
  &quot;payload&quot;: {}
}

RESPONSE
{
  &quot;type&quot;: &quot;mqtt&quot;,
  &quot;payload&quot;: { &quot;config&quot;: &quot;CONFIG FILE CONTENT&quot; }
}
</code></pre>
<p>
  <strong>Note about certs:</strong> requesting the config some fields not physically present in the MQTT.ini will be added to give information.
on the state of the certificate. In particular those fields are:
<pre><code>
cert_file_lasttime = 30/01/2020 18:21:42
key_file_lasttime = [MISSING]
ca_file_lasttime = 17/12/2019 09:41:14
</code></pre>Those fields can have a date, indicating that file exists and last time it was updated, or [MISSING] to indicate file isn't uploaded. 
At the same time fields related to physical location of certificates in filesystem are removed.
</p>

<h3 id="mqttlog">MqttLog</h3>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;mqttlog&quot;,
  &quot;payload&quot;: {}
}

RESPONSE
{
  &quot;type&quot;: &quot;mqttlog&quot;,
  &quot;payload&quot;: { &quot;log&quot;: &quot;LOG DATA&quot; }
}
</code></pre>
<h3 id="mqttlogerase">MqttLogErase</h3>
<p>Delete Mqtt module activity log</p>
<pre><code>
REQUEST:
{
   &quot;type&quot;:&quot;mqttlogerase&quot;,
   &quot;payload&quot;:{ }
}

RESPONSE
{
  &quot;type&quot;: &quot;mqttlogerase&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h3 id="mqttwrite">MqttWrite</h3>
<p>Write one or more keys related to MQTT configuration</p>
<pre><code>REQUEST:
  {
    &quot;type&quot;:&quot;mqttwrite&quot;,
    &quot;payload&quot;:{
       &quot;settings&quot;:[
          { &quot;broker_pri&quot;:&quot;mqtt.test.com&quot; },
          { &quot;broker_sec&quot;:&quot;mqtt2.test.org&quot; },
          { &quot;qos&quot;:&quot;0&quot; },
          { &quot;user_auth&quot;:&quot;N&quot; },
          { &quot;cert_auth&quot;:&quot;S&quot; },
          { &quot;cert_file&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIIEZDCCA0ygAwIBAgIUHvbWkHKpY7rjDVBcsIP0C8kXqj0wDQYJKoZIhvcNAQEN\nBQAwajEXMBUGA1UEAwwOQW4gTVFUVCBicm9rZXIxFjAUBgNVBAoMDU93blRyYWNr...&quot;},
          { &quot;ca_file&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIIDtTCCAp2gAwIBAgIUbI5kESOcu1nuZsd0DIKtBYVPhTEwDQYJKoZIhvcNAQEN\nBQAwajEXMBUGA1UEAwwOQW4gTVFUVCBicm9rZXIxFjAUBgNVBAoMDU93blRyYWNr...&quot;},
          { &quot;key_file&quot;: &quot;-----BEGIN RSA PRIVATE KEY-----\nMIIEowIBAAKCAQEAnhqq8O9PExWGmG4UtXYF3FHJluTGFdY5HkYTXf6vF5Pbvxfh\n3leKqSXcmV1p30SabB1x1561R6UxKbvlR88yVMsUs6falR1gClSYpeZZnMb5fIQl...&quot;}
       ]
    }
 }
 
RESPONSE
{
  &quot;type&quot;: &quot;mqttwrite&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<h3 id="mqttreboot">MqttReboot</h3>
<p>Reboot MQTT module</p>
<pre><code>REQUEST:
{
   &quot;type&quot;:&quot;mqttreboot&quot;,
   &quot;payload&quot;:{}
}

RESPONSE
{
  &quot;type&quot;: &quot;mqttreboot&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h3 id="cnxmdb">CnxMdb</h3>
<p>Reqest Serial/ModBus config</p>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;cnxmdb&quot;,
  &quot;payload&quot;: {}
}

RESPONSE
{
  &quot;type&quot;: &quot;cnxmdb&quot;,
  &quot;payload&quot;: { &quot;config&quot;: &quot;CONFIG FILE CONTENT&quot; }
}
</code></pre>
<h3 id="cnxmdblog">CnxMdbLog</h3>
<p>Request Serial/Modbus log</p>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;cnxmdblog&quot;,
  &quot;payload&quot;: {}
}

RESPONSE
{
  &quot;type&quot;: &quot;cnxmdblog&quot;,
  &quot;payload&quot;: { &quot;log&quot;: &quot;LOG DATA&quot; }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h3 id="cnxmdblogerase">CnxMdbLogErase</h3>
<p>Delete Serial/Modbus module activity log</p>
<pre><code>
REQUEST:
{
   &quot;type&quot;:&quot;cnxmdberase&quot;,
   &quot;payload&quot;:{ }
}

RESPONSE
{
  &quot;type&quot;: &quot;cnxmdberase&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<h3 id="cnxmdbwrite">CnxMdbWrite</h3>
<p>Write one or more keys related to Serial/ModBus configuration</p>
<pre><code>
REQUEST:
{
   &quot;type&quot;:&quot;cnxmdbwrite&quot;,
   &quot;payload&quot;:{
      &quot;settings&quot;:[
         { &quot;port&quot;:&quot;/dev/serial0&quot; },
         { &quot;speed&quot;:&quot;19200&quot; },
         { &quot;parity&quot;:&quot;N&quot; },
         { &quot;stopbit&quot;:&quot;1&quot; },
         { &quot;bitlen&quot;:&quot;8&quot; },
         { &quot;master_id&quot;:&quot;123&quot; },
         { &quot;polling_time&quot;:&quot;8&quot; },
         { &quot;connect_timeout&quot;:20&quot; },
         { &quot;retry_count&quot;:&quot;3&quot; }
      ]
   }
}

RESPONSE
{
  &quot;type&quot;: &quot;mqttwrite&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<h3 id="cnxmdbstatus">CnxMdbStatus</h3>
<p>Get status related to connected slaves, it returns &quot;true&quot; for devices that sends at least a successful
  response in the last read cycle </p>
<pre><code>
REQUEST:
{
   &quot;type&quot;:&quot;cnxmdbstatus&quot;,
   &quot;payload&quot;:{}
}

RESPONSE
{
  &quot;type&quot;: &quot;mqttwrite&quot;,
  &quot;payload&quot;: { 
    &quot;status&quot;: {
      &quot;1&quot;: &quot;true&quot;,
      &quot;2&quot;: &quot;false
    }
  }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h3 id="4g">4G</h3>
<pre><code>REQUEST:
{
  &quot;type&quot;: &quot;4G&quot;,
  &quot;payload&quot;: {}
}

RESPONSE
{
  &quot;type&quot;: &quot;4G&quot;,
  &quot;payload&quot;: { &quot;config&quot;: &quot;CONFIG FILE CONTENT&quot; }
}
</code></pre>
<h3 id="4gwrite">4GWrite</h3>
<p>Write one or more keys related to Cellular configuration</p>
<pre><code>
REQUEST:
{
   &quot;type&quot;:&quot;4gwrite&quot;,
   &quot;payload&quot;:{
      &quot;settings&quot;:[
         { &quot;sim_pin&quot;:&quot;1234&quot; },
         { &quot;reboot_timer&quot;:&quot;10&quot; },
         { &quot;protocol&quot;:&quot;3G&quot; },
         { &quot;apn&quot;:&quot;apn.tim.it&quot; }
      ]
   }
}

RESPONSE
{
  &quot;type&quot;: &quot;4gwrite&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h3 id="4greboot">4GReboot</h3>
<p>Reboot 4G module</p>
<pre><code>
REQUEST:
{
   &quot;type&quot;:&quot;4greboot&quot;,
   &quot;payload&quot;:{ }
}

RESPONSE
{
  &quot;type&quot;: &quot;4greboot&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<h3 id="4glogerase">4GLogErase</h3>
<p>Delete Cellular module activity log</p>
<pre><code>
REQUEST:
{
   &quot;type&quot;:&quot;4glogerase&quot;,
   &quot;payload&quot;:{ }
}

RESPONSE
{
  &quot;type&quot;: &quot;4glogerase&quot;,
  &quot;payload&quot;: { }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<h4 id="command-error-responses">Command error responses</h4>
<p>If a command encounter an error during the execution a specific error payload is sent on
  <code>{gatewayId}/System/GatewayInfo</code></p>
<pre><code>{
  &quot;type&quot; : &quot;regwrite&quot;,
  &quot;payload&quot; : {
    &quot;error&quot; : &quot;ERROR MESSAGE&quot;,
    &quot;details&quot;: &quot;ERROR DETAILS&quot;
  }
}
</code></pre>
<p>type brings the origina command type but it could be <code>UNKNOWN</code> in case the error is related to command
  type.<br>In some cases further details are added to payload, like in the example of failed CSV table validation below.
</p>
<pre><code>{
   &quot;type&quot;:&quot;gtwwrite&quot;,
   &quot;payload&quot;:{
      &quot;error&quot;:&quot;write failed&quot;,
      &quot;write_errors&quot;:[
         [
            &quot;invalid &#39;variation_type&#39; value (U)&quot;
         ]
      ]
   }
}
</code></pre>
<h3 id="register-subscription-on-custom-topic">Register subscription on custom topic</h3>
<p>Each item in configuration table marked as <code>R/W</code> create an MQTT topic subscription where the application
  listen for specific payload.<br>Payload expected on these topic is like the following example.</p>
<pre><code>{
  &quot;type&quot;: &quot;regwrite&quot;,
  &quot;payload&quot;: {
       &quot;topic&quot;: &quot;samplesub&quot;,
       &quot;value&quot;: &quot;233&quot;,
       &quot;CDR&quot;: &quot;&quot;,
       &quot;timestamp&quot;: &quot;2019-03-17T07:39:28&quot;,
       &quot;idsender&quot;: &quot;123&quot;
   }
}
</code></pre>
<p>&lt;div style=&quot;page-break-after: always;&quot;&gt;&lt;/div&gt;

</p>
<p>Topic subscribed by the application follow the convention <code>{gateway_id}/{table_row_topic}_W</code>, then given
  gateway id like <code>gateway1</code><br>and a table row as</p>
<p><code>loadtopic;register connected to a load;1;0;V;40002;1;R/W;S;10;%;S;8;S;S;opt1_1;opt2_1;opt3_1</code></p>
<p>The MQTT topic subscribed will be <code>gateway1/loadtopic_W</code> and payload expected somethig like</p>
<pre><code>{
  &quot;type&quot;: &quot;regwrite&quot;,
  &quot;payload&quot;: {
       &quot;topic&quot;: &quot;gateway1/loadtopic&quot;,
       &quot;value&quot;: &quot;4&quot;,
       &quot;CDR&quot;: &quot;&quot;,
       &quot;timestamp&quot;: &quot;2019-03-17T10:12:21&quot;,
       &quot;idsender&quot;: &quot;123&quot;
   }
}
</code></pre>
<p><strong>Note</strong>: Subscribed topic on MQTT is not the same of the value of <code>topic</code> field in the
  payload. The former follow the convention<br>described above, while the latter is the topic as specified in the
  configuration table, must be specified with the full gatewayId if specified as interpolation variable.</p>
<h3 id="topic-interpolation">Topic interpolation</h3>
<p>Table for mapping registers to topics supports string interpolation. The variable supported for interpolation is
  {gatewayId}, then defining a topic like <code>{gatewayId}/sample</code> is resolved by the application to
  <code>12334/sample</code>, supposing <code>12334</code> as the configured gatewayId</p>
<h2 id="technical-details">Technical details</h2>
<p>Application is strongly based on a Producer/Consumer pattern. The function <code>main_consumer</code> is intended as
  a central point to process messages coming from many sources (mainly ModBus and MQTT at time of writing) and
  dispatching them to the right processor.</p>
<p>Messages comes to <code>main_consumer</code> in a message wrapper with the structure as in the pseudocode below:</p>
<pre><code>class BusEvent:
  event_type
  event_payload
</code></pre>
<p>The property <code>event_type</code> is defined in a enumerator, values are <code>MODBUS = 1</code> or
  <code>MQTT = 2</code>, instead <code>event_payload</code> is a generic object and structure<br>depends on the
  <code>event_type</code>. </p>
<p>When <code>event_type</code> is <code>MODBUS</code> the <code>event_payload</code> is as follow:</p>
<pre><code>class ModBusPayload:
  tab_item:
    slave_id
    add_ui
    send_on_variation
    add_descr
    recurring_send
    registries
  mbus_value: 
    reg_str
    mbus_resp:
      resp_type
      mbus_resp
</code></pre>{%- endblock %}