{%- extends "base_bootstrap.html" %}

{% from "breadcrumb.html" import breadcrumb with context %}

{% block content %}

{{ breadcrumb(['Config', 'general']) }}

<div class="content">
  <div class="row-m">
    <form id="general_form" action="{{ url_for('frontend.general') }}" method="post">
      <div class="form-group">
        <label for="gtwid">Gateway Id</label>
        <input type="text" class="form-control validate[required]" id="gtwid" name="gtwid"
          placeholder="Enter Gateway Id" value="{{general.gtwid}}">
      </div>
      <div class="form-group">
        <label for="name">Gateway Name</label>
        <input type="text" class="form-control validate[required]" id="name" name="name"
          placeholder="Enter Gateway Name" value="{{general.name}}">
      </div>

      <div class="form-group">
        <label for="adminusr">Admin user</label>
        <input type="text" class="form-control validate[required]" id="adminusr" name="adminusr"
          placeholder="Enter Gateway admin user" value="{{general.adminusr}}">
      </div>

      <div class="form-group">
        <label for="adminpwd">Admin password</label>
        <input type="password" class="form-control validate[required]" id="adminpwd" name="adminpwd"
          placeholder="Enter Gateway admin user password" value="{{general.adminpwd}}">
      </div>

      <div class="row-m">
        <div class="col-6">
          <input type="submit" name="submit" class="btn btn-primary" value="Save" />
        </div>
      </div>

    </form>

    <div id="opresult" class="alert alert-warning alert-dismissible fade" role="alert">
      <strong>Dati salvati
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>
      $(document).ready(function () {
        $form = $("#general_form");

        $form.validationEngine('attach', {
          promptPosition: "topLeft",
          scroll: true, ajaxFormValidation: true,
          ajaxFormValidationMethod: 'post'
        });

        handleAjaxForm($form, function (err, resp) {
          $('#opresult').addClass('show');
        });

      });
    </script>
  </div>

</div>
{%- endblock %}