{%- extends "base_bootstrap.html" %}

{% from "breadcrumb.html" import breadcrumb with context %}

{% block content %}

{{ breadcrumb(['Dashboard']) }}

<div class="row">

  <!-- MQTT -->
  <div class="col-xl-4 col-md-4 mb-6">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h6 font-weight-bold text-uppercase mb-1">MQTT broker
            </div>
            {% if model.mqtt_info is not none %}
              {% if model.mqtt_info['timestamp'] is not none %}
                <div class="text-xs text-gray-800">{{model.mqtt_info['timestamp'].strftime('%d/%m/%Y %H:%M')}} </div> 
              {% endif %}
              {% if model.mqtt_info['ip'] is not none %}
                <div class="text-xs text-gray-800">{{model.mqtt_info['ip']}}:{{model.mqtt_info['port']}}</div>
              {% endif %}
            {% endif %}
          </div>

          {% if model.mqtt_info is not none and model.mqtt_connected == True and model.faulted['MQTT'] == False %}

          <div class="icon" style="color: green">
            <i class="fas fa-check fa-5x"></i>
          </div>
          {% else %}
          <div class="icon" style="color: red">
            <i class="fas fa-exclamation-triangle fa-5x"></i>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-4 mb-6">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h6 font-weight-bold text-uppercase mb-1">ModBus</div>
            <div class="text-xs text-gray-800">{{model.now.strftime('%d/%m/%Y %H:%M')}} </div>
            <div class="text-xs text-gray-800">{{model.modbus_settings.port}}</div>
          </div>
          {% if model.faulted['MODBUS'] == False %}
          <div class="icon" style="color: green">
            <i class="fas fa-check fa-5x"></i>
          </div>
          {% else %}
          <div class="icon" style="color: red">
            <i class="fas fa-exclamation-triangle fa-5x"></i>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-12">
    {% if model.mqtt_commmands_logtable|length > 0 %}
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="h6 font-weight-bold text-uppercase mb-1">Latest MQTT events</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Command</th>
            <th scope="col">topic</th>
            <th scope="col">value</th>
          </tr>
        </thead>
        <tbody>
          {% for mqtt_log in model.mqtt_commmands_logtable %}
          <tr>
            <th scope="row">{{mqtt_log['timestamp'].strftime('%d/%m/%Y %H:%M')}}</th>
            <td>
              {% if 'type' in mqtt_log %}
              {{mqtt_log['type']}}
              {% else %}
              {{"publish"}}
              {% endif %}
            </td>
            <td>
              {{mqtt_log['payload']['topic']}}
            </td>
            <td>
              {% if 'error' in mqtt_log['payload']['value'] %}
              {{mqtt_log['payload']['value']['error']}}
              {% elif 'value' in  mqtt_log['payload']['value']%}
              {{mqtt_log['payload']['value']['value']}}
              {% else %}
              {{mqtt_log['payload']['value']}}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>

<br />

<div class="row">
  <div class="col-12">
    {% if model.mbus_events|length > 0 %}
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="h6 font-weight-bold text-uppercase mb-1">Latest ModBus events</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Slave ID</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Topic</th>
            <th scope="col">Reg</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          {% for item in model.mbus_events %}
          <tr>
            <th scope="row">{{ item['tab_item'].slave_id }}</th>
            <td>
              {{ item['timestamp'].strftime('%d/%m/%Y %H:%M') }}
            </td>
            <td>
              {{ item['tab_item'].topic }}
            </td>
            <td>
              {{ item['reg_str'] }}
            </td>
            <td>
              {{ item['value'][0] }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>

<script>
  (function () {
    setInterval(function () { location.reload(true); }, 30000);
  }());

</script>
{%- endblock %}