{%- extends "base_bootstrap.html" %}

{% from "breadcrumb.html" import breadcrumb with context %}

{% block content %}

{{ breadcrumb(['Logs']) }}

<ul class="nav justify-content-center">
  <li class="tab nav-item ">
    <a id="gwlog" class="nav-link active" href="#">Gateway</a>
  </li>
  <li class="tab nav-item">
    <a id="mqttlog" class="nav-link" href="#">MQTT</a>
  </li>
  <li class="tab nav-item">
    <a id="mbuslog" class="nav-link" href="#">ModBus</a>
  </li>

</ul>

<div class="content">
  {% autoescape false %}
  <textarea id="logarea" class="col-12" rows="25"  placeholder="" required>{{ log_buffer }}</textarea>
  {% endautoescape %}
</div>
<script>


  $(document).ready(function () {
    function activate(which) {
      $('a.nav-link').removeClass('active');
      $(which).addClass('active');
    }

    ['gwlog', 'mqttlog', 'mbuslog'].forEach(function (value) {
      $('#' + value).click(function () {
        activate('#' + value);
        $.ajax({
          url: "{{ url_for('frontend.getlog') }}",
          type: 'GET',
          data: { subject: value },
          success: function (result) {
            $('#logarea').val(result);
          }
        });
      });
    });

  });
</script>


{%- endblock %}