{%- extends "base_bootstrap.html" %}
{% from "breadcrumb.html" import breadcrumb with context %}

{% block content %}

{{ breadcrumb(['Config', 'MQTT']) }}

<div id="opresult" class="alert alert-warning alert-dismissible fade" role="alert">
  <strong>Dati salvati
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id='alert_placeholder'></div>

<div class="content">
  <div class="row-m">
    <form id="mqtt_form" action="{{ url_for('frontend.mqtt') }}" method="post">

      <div class="form-group">
        <label for="broker_pri">Primary Broker address</label>
        <input type="text" class="form-control validate[required]" id="broker_pri" name="broker_pri"
          placeholder="Enter primary broker address" value="{{mqtt.broker_pri}}">
      </div>

      <div class="form-group">
        <label for="broker_sec">Secondary Broker address</label>
        <input type="text" class="form-control validate[required]" id="broker_sec" name="broker_sec"
          placeholder="Enter secondary broker address" value="{{mqtt.broker_sec}}">
      </div>

      <div class="form-group">
        <label for="qos">QoS</label>
        <input type="text" class="form-control validate[required]" id="qos" name="qos" placeholder="QoS (0, 1, 2)"
          value="{{mqtt.qos}}">
      </div>

      <div class="form-group form-check">
        <div class="container-fluid">
          <input type="checkbox" class="form-check-input" id="user_auth" name="user_auth"
            {% if mqtt.user_auth.lower() == 's' %}checked{% endif %} value="S">
          <label class="form-check-label" for="user_auth">User auth</label>
        </div>
        <div class="container-fluid">
          <input type="checkbox" class="form-check-input" id="cert_auth" name="cert_auth"
            {% if mqtt.cert_auth.lower() == 's' %}checked{% endif %}>
          <label class="form-check-label" for="cert_auth">Cert auth</label>
        </div>
      </div>

      <div class="form-group" id="username_block">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter broker username"
          value="{{mqtt.username}}">
      </div>

      <div class="form-group" id="password_block">
        <label for="syspwd">Passowrd</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter broker password"
          value="{{mqtt.password}}">
      </div>

      <!-- CERTIFICATE BLOCK -->
      <div class="form-group" id="cert_file_block">
        <label for="cert">Certificate file upload</label>
        <input type="file" class="form-control" id="cert" name="cert" style="width: 30%;">
        {% if mqtt.cert_file_lasttime is not none %}
          <i class="far fa-check-square"></i> ultimo caricamento {{mqtt.cert_file_lasttime}}
        {% else %}
          <i class="far fa-square"></i> nessun file presente
        {% endif  %}
       </div>

      <div class="form-group" id="key_file_block">
        <label for="key">Key file upload</label>
        <input type="file" class="form-control" id="key" name="key" style="width: 30%;">
        {% if mqtt.key_file_lasttime is not none %}
          <i class="far fa-check-square"></i> ultimo caricamento {{mqtt.key_file_lasttime}}
        {% else %}
          <i class="far fa-square"></i> nessun file presente
        {% endif  %}
      </div>


      <div class="form-group" id="ca_file_block">
        <label for="ca">CA file upload</label>
        <input type="file" class="form-control" id="ca" name="key" style="width: 30%;">
        {% if mqtt.ca_file_lasttime is not none %}
          <i class="far fa-check-square"></i> ultimo caricamento {{mqtt.ca_file_lasttime}}
        {% else %}
          <i class="far fa-square"></i> nessun file presente
        {% endif  %}
      </div>
  </div>
  <!-- /CERTIFICATE BLOCK -->

  <div class="row-m">
    <div class="col-6">
      <input type="submit" name="submit" class="btn btn-primary" value="Save" />
    </div>
  </div>
  </form>

  <script>

    alertbox = function () { }
    alertbox.warning = function (message) {
      $('#alert_placeholder').append(`<div class="alert alert-warning" role="alert">
              <strong>${message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>`)
    }

    function handleUserAuth() {
      let checked = $('#user_auth').is(':checked')
      if (checked) {
        $('#username_block').show();
        $('#password_block').show();
        $('#username').addClass('validate[required]');
        $('#password').addClass('validate[required]');

      } else {
        $('#username_block').hide();
        $('#password_block').hide();
        $('#username').removeClass('validate[required]');
        $('#password').removeClass('validate[required]');
      }
    }

    function handleCertAuth() {
      let checked = $('#cert_auth').is(':checked')
      if (checked) {
        $('#cert_file_block').show();
        $('#key_file_block').show();
        $('#ca_file_block').show();
      } else {
        $('#cert_file_block').hide();
        $('#key_file_block').hide();
        $('#ca_file_block').hide();
      }
    }

    $(document).ready(function () {
      $form = $("#mqtt_form");

      [
        {
          $control: $("#cert"),
          $file_input: $('#cert'),
          $textbox: $('#cert_file'),
          name: 'cert',
          url: "{{ url_for('frontend.cert_upload', file_type='cert') }}"
        },
        {
          $control: $("#key"),
          $file_input: $('#key'),
          $textbox: $('#key_file'),
          name: 'key', url: "{{ url_for('frontend.cert_upload', file_type='key') }}"
        },
        {
          $control: $("#ca"),
          $file_input: $('#ca'),
          $textbox: $('#ca_file'),
          name: 'ca', url: "{{ url_for('frontend.cert_upload', file_type='ca') }}"
        }
      ].forEach(item => {
        item.$control.change(function () {
          let formdata = new FormData();

          item.$file_input = $(`#${item.name}`);
          if (item.$file_input.prop('files').length > 0) {
            file = item.$file_input.prop('files')[0];
            formdata.append(item.name, file);
          }

          $.ajax({
            type: "POST",
            url: item.url,
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
              item.$textbox.val(data);
              alertbox.warning('File caricato, salvare i dati per attivarlo nella configurazione')
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { 
              alertbox.warning('Impossibile caricare il file, controllare il formato')
            }
          });
        });
      });


      $form.validationEngine('attach', {
        promptPosition: "topLeft",
        scroll: true, ajaxFormValidation: true,
        ajaxFormValidationMethod: 'post'
      });

      handleAjaxForm($form, function (err, resp) {
        $('#opresult').addClass('show');
      });

      $('#user_auth').change(function () {
        handleUserAuth();
      });

      $('#cert_auth').change(function () {
        handleCertAuth();
      });

      handleUserAuth();
      handleCertAuth();
    });
  </script>
</div>

</div>
{%- endblock %}