{%- extends "base_bootstrap.html" %}
{% from "breadcrumb.html" import breadcrumb with context %}

{% block content %}
{{ breadcrumb(['Config', 'serial']) }}

<div class="content">
  <div class="row-m">
    <form id="serial_form" action="{{ url_for('frontend.serial') }}" method="post">

      <div class="form-group">
        <label for="port">Serial port</label>
        <input type="text" class="form-control validate[required]" id="port" name="port"
          placeholder="Enter serial port device" value="{{serial.port}}" readonly >
      </div>

      <div class="form-group">
        <label for="speed">Speed</label>
        <input type="text" class="form-control validate[required]" id="speed" name="speed"
          placeholder="Enter port speed" value="{{serial.speed}}">
      </div>

      <div class="form-group">
        <label for="parity">Parity</label>
        <input type="text" class="form-control validate[required]" id="parity" name="parity"
          placeholder="Enter serial parity" value="{{serial.parity}}">
      </div>

      <div class="form-group">
        <label for="stopbit">Stop bit</label>
        <input type="text" class="form-control validate[required]" id="stopbit" name="stopbit"
          placeholder="Enter serial stopbit" value="{{serial.stopbit}}">
      </div>

      <div class="form-group">
        <label for="bitlen">Bit length</label>
        <input type="text" class="form-control validate[required]" id="bitlen" name="bitlen"
          placeholder="Enter serial bitlen" value="{{serial.bitlen}}">
      </div>

      <div class="form-group">
        <label for="master_id">Master id</label>
        <input type="text" class="form-control validate[required]" id="master_id" name="master_id"
          placeholder="Enter ModBus master id" value="{{serial.master_id}}">
      </div>

      <div class="form-group">
        <label for="polling_time">Polling time</label>
        <input type="text" class="form-control validate[required]" id="polling_time" name="polling_time"
          placeholder="Enter polling time" value="{{serial.polling_time}}">
      </div>

      <div class="form-group">
        <label for="connect_timeout">Connect timeout</label>
        <input type="text" class="form-control validate[required]" id="connect_timeout" name="connect_timeout"
          placeholder="Enter connect timeout" value="{{serial.connect_timeout}}">
      </div>

      <div class="form-group">
        <label for="retry_count">Connect retry count</label>
        <input type="text" class="form-control validate[required]" id="retry_count" name="retry_count"
          placeholder="Enter connect retry count" value="{{serial.retry_count}}">
      </div>

      <div class="row-m">
        <div class="col-6">
          <input type="submit" name="submit" class="btn btn-primary" value="Save" />
        </div>
      </div>


    </form>
    <div id="opresult" class="alert alert-warning alert-dismissible fade" role="alert">
      <strong>Dati salvati
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>
      $(document).ready(function () {
        $form = $("#serial_form");

        $form.validationEngine('attach', {
          promptPosition: "topLeft",
          scroll: true, ajaxFormValidation: true,
          ajaxFormValidationMethod: 'post'
        });

        handleAjaxForm($form, function (err, resp) {
          $('#opresult').addClass('show');
        });

      });
    </script>
  </div>
</div>
{%- endblock %}