{%- extends "base_bootstrap.html" %}
{% from "breadcrumb.html" import breadcrumb with context %}

{% block content %}
{{ breadcrumb(['ModBus/MQTT table']) }}


<div id="opresult" style="display: none;" class="alert alert-warning alert-dismissible fade" role="alert">
    <strong>Operazione eseguita
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="content">
    {% autoescape false %}
    <textarea id="tablearea" class="col-12" rows="20" placeholder="" required>{{ table_buffer }}</textarea>
    {% endautoescape %}
    
    <button id="save" type="button" class="btn btn-primary">Salva</button>
    
    <div id="operr" style="display: none;" class="alert alert-error alert-dismissible fade" role="alert">
        <strong>Errore di validazione <span id="errs"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<script>
    $(document).ready(function () {


        $('#save').click(function () {
            const value = $('#tablearea').val();
            console.log("VALUE " + value);
            $.ajax({
                url: "{{ url_for('frontend.table') }}",
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                data: JSON.stringify({ tablebuffer: value }),
                success: function (result) {
                    $('#opresult').show();
                    $('#opresult').addClass('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#operr').show();
                    $('#operr').addClass('show');
                    $('#errs').html(XMLHttpRequest.responseText);
                }
            });
        });
    });
</script>

{%- endblock %}